{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
<h2 class="section-title">Блог и новости</h2>
<div class="row g-3">
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Изменения в законодательстве</h5>
            <p>Обновлены требования к декларациям с 2026 года. Подробнее в статье.</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Читать</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Как подать декларацию через МЧД?</h5>
            <p>Пошаговая инструкция для фермеров.</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Читать</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Часто задаваемые вопросы</h5>
            <p>Ответы на популярные вопросы по декларированию.</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Читать</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card p-3">
            <h5>Кейс: оформление декларации на партию пшеницы</h5>
            <p>Реальный пример из практики.</p>
            <a href="#" class="btn btn-sm btn-outline-primary">Читать</a>
        </div>
    </div>
</div>
{% endblock %}
